alias e="nvim"
alias cm="chezmoi"
alias gs="git status"
alias cmd="SHELL=/data/data/com.termux/files/usr/bin/fish chezmoi cd"
alias ms="mosh s"

{{ if stat (joinPath .chezmoi.homeDir "code/notes-scripts/aliases.fish") }}
# notes aliases
source $HOME/code/notes-scripts/aliases.fish
{{ end }}

# navigation
alias x="exit"
alias j="__zoxide_z"
alias ji="__zoxide_zi"
